.TrackerDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px 16px;
    padding: 20px;
}

.TrackerBlock {
    /*grid-column: 2 / 3;*/
    /*grid-row: 2 / 3;*/
    background: rgb(34,159,195);
    background: linear-gradient(16deg, rgba(34,159,195,0.8547618876652223) 0%, rgba(253,187,45,1) 100%);
    justify-self: center;
    border-radius: 10px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    width: 100%;
    height: 250px;
    max-width: 400px;
}

@media (max-width: 500px) {
    .TrackerDisplay {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 16px 0;
        padding: 16px;
        box-sizing: border-box;
    }


}